body{

    background-color: white;
    font-family: 'Ubuntu', sans-serif;
}
header{
    background-color: white;
}
h1{
    color: black;
    background: white;
    font-size: 25px;
}


.caja-principal{
    width: 100%;
    height: 200px;
    background: white;
}

.caja-logo{
    width: 50%;
    height: 150px;
    background: white;
    float:left;
    position: relative;
}

.caja-logo img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.caja-titulo{
    width: 50%;
    height: 150px;
    background-color:white;
    float:left;
    text-align: left;
    /*text-align: center;*/
}

.caja-titulo h1{
    line-height: 120px;
}

.caja-menu{
    width: 50%;
    height: 50px;
    background: white;
    float:left;
    margin-left: 25%;
    margin-right: 25%;
    position: relative;

}


ul li{
    display: inline-block;
    width: 150px;
    height: 30px;
    background-color:cornflowerblue;
    text-align: center;
    padding: 5px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;

}

ul li a:hover{
    color:blue;

}




#parrafo_texto{
    color:darkblue;

}

form{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: white;
    text-align: left;
}

.label-form{
    width: 200px;
    display: inline-block;
}

.input-form{
    width: 400px;
    
}

.select-form{
    background-color: white;

    
}

.boton-form{
    width: 40%;
    height: 30px;
    background-color: coral;
    color: white;
    border: none;

}

.boton-form:hover{
    color:brown;
}

.estilo-tabla{
    width: 80%;
}

th, td{
    border: 1px;
    border-color: black;
    text-align: center;
    
}

th{
    background-color: deepskyblue;
}

footer{
    width: 100%;
    height: 250px;
    background-color: lightblue;

}

.enlaces{
    width: 20%;
    height: 220px;
    float:left;
    background-color: lightblue;
    text-align: left;
    padding-left: 180px;

}

.redes-sociales{
    width: 30%;
    height: 220px;
    float:left;
    background-color: lightblue;
       
}
.proyecto{
    width: 30%;
    height: 220px;
    float:left;
    background-color: lightblue;
}


#caja-publicidad{
    width: 100%;
    height: 220px;
  /*  background-color: antiquewhite;*/
}

#caja-publicidad1{
    width: 33%;
    height: 220px;
    /*background-color:brown;*/
    float: left;
    margin-right: 5px;
}

#caja-superior{
    width: 100%;
    height: 60px;
   /* background-color: cadetblue;*/
    float: left;
    
}

#caja-superior1{
    width: 70%;
    height: 60px;
    /*background-color: orange;*/
    float:left;
    /*padding-left: 10px;*/
    font-family: 'Ubuntu', sans-serif;
 
}
#caja-superior2{
    width: 30%;
    height: 60px;
    /*background-color: yellow;*/
    float:left;
    font-family: 'Ubuntu', sans-serif;
    
    color: magenta;
    position: relative;
}

#caja-superior2 span{
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#caja-media{
    width: 100%;
    height: 120px;
    /*background-color:cornflowerblue;*/
    float:left;
}

#caja-media1{
    width: 50%;
    height: 120px;
    /*background-color:aqua;*/
    float:left;

}
#caja-media2{
    width: 50%;
    height: 120px;
    /*background-color:darkgreen;*/
    float: left;
}
#caja-inferior{
    width: 100%;
    height: 40px;
    /*background-color:gold;*/
    float:left;
    position: relative;
}

.boton1{
    width: 30%;
    height: 30px;
    background-color: orangered;    
    border: none;
}

#caja-inferior .boton1{
    position: absolute;
    left:85%;
    top: 50%;
    transform: translate(-50%, -20%);
    -webkit-transform: translate(-50%, -20%);
}



#caja-publicidad2{
    width: 33%;
    height: 220px;
    /*background-color:royalblue;*/
    float: left;
    margin-right: 5px;
}

#caja-publicidad3{
    width: 33%;
    height: 220px;
    /*background-color:rosybrown;*/
    float: left;

}